<!DOCTYPE html>
<html>
<head>
  <title>Authentication - Finished</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if logged_in? %>
      <p>Logged in as: <%= current_user.name %> | <%= link_to 'Log Out', logout_path, method: :delete %></p>
    <% else %>
      <div>
        <%= link_to 'Log In', login_path %> | <%= link_to 'Sign up', signup_path %>
      </div>
    <% end %>

    <!-- begin flash messages -->
    <% if flash[:welcome] %>
        <h4 class="bg-success flash"><%= flash[:welcome] %></h4>
    <% end %>

    <% if flash[:error] %>
        <h4 class="bg-danger flash"><%= flash[:error] %></h4>
    <% end %>
    <!-- end flash messages -->
    
    <%= yield %>

</body>
</html>
