<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @item.qty %>
</p>

<p>
  <strong>Checked:</strong>
  <%= @item.checked %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
