<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <div>
      <% if user_signed_in? %>
        Hello, <%= current_user.email %>  <%= link_to "sign out", destroy_user_session_path, method: :delete  %>
      <% else %>
          <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>



    <div id="main">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
